################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/Lupo.slnx/FileContentIndex/7ce701be-d49f-4e44-bbf6-b6e9472f0ec5.vsidx
